/* Remove default spacing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Bengali", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* ====================================
   Advertisement
==================================== */

#top-ad {
  padding: 8px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

#adBanner {
  width: 100%;
  max-height: 120px; /* Change this value */
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 2px;
}

/* ====================================
   Header
==================================== */

.main-header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  max-height: 80px;
}

.header-menu a {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.header-menu a:hover {
  color: #d60000;
}

.header-menu i {
  margin-right: 5px;
}

.icon-btn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
  transition: 0.3s;
}

.icon-btn:hover {
  background: #d60000;
  color: #fff;
}

.icon-btn i {
  font-size: 20px;
}

.notification-dot {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 12px;
}
